/*

*/

.centered{
    margin-left: auto;
    margin-right: auto;
}

.entry-content a {
  text-decoration: underline; /* always underline links, even when not hovered upon, for readability */
}

.alignleft {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aligncenter {
  margin: 0 auto;
  display: block;
}


h2 {
  line-height: 32px; /* overwrite bootstrap's line-height for h2 from 40px to 30px. for 30px font size */
}

.feed-header {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

#menu-wrapper li.dropdown:hover ul.dropdown-menu{
    display: block;    
    margin-top: -1px;
}
a.menu:after, .dropdown-toggle:after {
  content: none;
}

.infobox-link {
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.infobox-link a {
  text-decoration: none;
}

.ad {
  margin: 10px 0;
}

#content header {
  max-width: 640px;
  margin: 0 auto;
}

#content .author-box {
  margin-top: 20px;
}

.post-single p {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 16px;
  /*font-family: Georgia;*/
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.post-single iframe {
  margin: 20px auto !important;
  
}

.blog-header-image {
  display: block;
  margin: 0 auto;
}
.blog-header-title {
  font-style: italic;
  display: block;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  margin-bottom: 40px;
}

#fb-recommendations {
  height: 320px;
  margin: 0;
  margin-top: -20px;
}