/*
  Something clever and useful goes here.
  Love,
  Alec
*/

.centered{
    margin-left: auto;
    margin-right: auto;
}

.entry-content a {
  text-decoration: underline; /* always underline links, even when not hovered upon, for readability */
}

.alignleft {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aligncenter {
  margin: 0 auto;
  display: block;
}


h2 {
  line-height: 30px; /* overwrite bootstrap's line-height for h2 from 40px to 30px. for 30px font size */
}